---
import Container from '../../../components/Container.astro';
import H2 from '../../../components/H2.astro';
import Section from '../../../components/Section.astro';
import SurfBoard from '../../../assets/surf_board.png';
import { Image } from 'astro:assets';

const benefits = await Astro.glob('../../../content/benefits/*.md');

const colLeft = benefits.slice(0, 3);
const colRight = benefits.slice(3);
---

<Section className="min-h-screen bg-accent">
  <Container>
    <div class="flex flex-col md:flex-row md:justify-between gap-8">
      <div class="flex-1 space-y-16">
        {
          colLeft.map((item) => (
            <div class="text-white space-y-2 animate">
              <H2>{item.frontmatter.title}</H2>
              <div class="text-lg">
                <Fragment set:html={item.compiledContent()} />
              </div>
            </div>
          ))
        }
      </div>
      <div class="flex-1 flex items-center">
        <Image src={SurfBoard} alt="Rhyze Pinacolada" class="float_2" />
      </div>
      <div class="flex-1 space-y-16">
        {
          colRight.map((item) => (
            <div class="text-white space-y-2 animate">
              <H2>{item.frontmatter.title}</H2>
              <div class="text-lg">
                <Fragment set:html={item.compiledContent()} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</Section>
