---
import Container from '../../../components/Container.astro';
import H1 from '../../../components/H1.astro';
import Section from '../../../components/Section.astro';
import Shark from '../../../assets/shark.png';
import Reef from '../../../assets/reef.png';
import { Image } from 'astro:assets';

const reasoning = await Astro.glob('../../../content/reasoning/*.md');
---

<Section className="relative bg-primary">
  <Container>
    <div class="text-white text-center space-y-32 max-w-2xl mx-auto">
      {
        reasoning.map((item) => (
          <div class="space-y-4 animate">
            <H1>{item.frontmatter.title}</H1>
            <div class="text-lg">
              <Fragment set:html={item.compiledContent()} />
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  <div class="absolute top-0 right-10 float">
    <Image src={Shark} alt="Rhyze Pinacolada" />
  </div>
  <div class="absolute top-[50%] left-10 float">
    <Image src={Shark} alt="Rhyze Pinacolada" />
  </div>
  <div class="absolute bottom-0 right-0">
    <Image src={Reef} alt="Rhyze Pinacolada" />
  </div>
</Section>
